@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?i9maim');
  src:  url('../fonts/icomoon.eot?i9maim#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?i9maim') format('truetype'),
    url('../fonts/icomoon.woff?i9maim') format('woff'),
    url('../fonts/icomoon.svg?i9maim#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
  content: "\ea90";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-twitter:before {
  content: "\ea96";
}

.icon-preloader:before {
  content: "\e980";
}

.icon-menu:before {
  content: "\e9bd";
}
.icon-plus:before {
  content: "\ea0a";
}
.icon-minus:before {
  content: "\ea0b";
}
.icon-close:before {
  content: "\ea0f";
}

.icon-play:before {
  content: "\ea15";
}
.icon-pause:before {
  content: "\ea16";
}
.icon-audio-unmute:before {
  content: "\ea27";
}
.icon-audio-mute:before {
  content: "\ea29";
}

.icon-circle-up:before {
  content: "\ea41";
}
.icon-circle-right:before {
  content: "\ea42";
}
.icon-circle-down:before {
  content: "\ea43";
}
.icon-circle-left:before {
  content: "\ea44";
}
