$main-background-color:#333333;
$main-text-color:#cccccc;
$main-navigation-color:#0000ff;

$overlay-background-color:#000000;

$link-default-color:#ffffff;
$link-hover-color:#00ff00;

$header-height:100px;
$footer-height:50px;

$default-padding:20px;
$button-padding:5px;


