/**
 * Imports
 **/
@import "vendor/normalize";
@import "modules/fixes";
@import "modules/global";
@import "modules/mixins";
@import "modules/fonts";
@import "modules/animations";

/**
 * box sizing
 **/
*{
	@include vendor-prefix('box-sizing', "border-box")
	margin:0; 
	padding:0;
}

/**
 * general
 **/
html, body{
	width:100%; 
	height:100%; 
	margin:0; 
	padding:0;
}

body{
	background-color:$main-background-color; 
	color:$main-text-color;
}

a{
  color:$link-default-color;
  &:hover{
    color:$link-hover-color;
  }
  &.active{
    color:$link-hover-color;
  }
}

.mobile a:hover{
  color:$link-default-color;
}


/**
 * layout
 **/
#preload-container{
  position: fixed;
  left:0px;
  top:0px;
  width:100%;
  height:100%;
  display:none;
  background-color:$overlay-background-color;
  z-index: 10000;
}

#preloader{
  width:32px;
  height:32px;
  position: absolute;
  left:0px;
  top:0px;
  right:0px;
  bottom:0px;
  margin:auto;
  text-align: center;
  line-height: 36px;
  font-size: 32px;
}

.loading #preload-container{
  display:block;
}

.loading #preloader{
  animation: rotate 2s linear infinite;
}

#content-container{
	position:relative;
	width:100%;
	height:100%;
	overflow: hidden;
  min-height: 560px;
}

#main-header{
	position:absolute;
	left:0px;
	top:0px;
	width:100%;
	height:$header-height;
	background-color:rgba(255,0,0,0.5);
	z-index: 9000;
}

#main-footer{
	position: absolute;
	left:0px;
	bottom:0px;
	width:100%;
	height:$footer-height;
	background-color: rgba(0,255,0,0.5);
	z-index: 8000;
}

#main-content{
	position:relative;
	width:100%;
	height:100%;
	overflow: hidden;
	z-index: 7000;
}

/** 
 * Menu
 **/
#main-menu-container{
 	position: absolute;
 	right:0px;
 	top:0px;

  #main-menu-open{
    position: absolute;
    right:$default-padding;
    top:$default-padding;
    font-size:26px;
  }

  &.expanded{
    #main-menu-open{
      display:none;
    }
  }
  &.collapsed{
    #main-menu-open{
      display:block;
    }
  }
}

#header-navigation{
  position: absolute;
  top:0px;
  right:0px;
  background-color: $main-navigation-color;
  padding:$default-padding;
 // transition: all 0.5s ease;
  width:200px;
  z-index: 9001;
  ul{
    li{
      line-height: 32px;
      text-align: center;
      a{
        display: inline-block;
      }
    }
  }
  &.expanded{
    display:block;
  }
  &.collapsed{
    display:none;
  }
}


/** 
 * Header
 **/
 #main-title{
  display:inline-block;
  padding-left:$default-padding;
  padding-top:$default-padding;
 }


 /**
  * Footer
  **/
  #main-footer-content{
    display: table;
    width:100%;
    height:100%;
    padding:0 $default-padding;
  }
  #main-footer-left{
    display:table-cell;
    vertical-align: middle;
    text-align: left;
  }

  #main-footer-right{
    display:table-cell;
    vertical-align: middle;
    text-align: right;
  }

  #main-footer-legal{
  	position: absolute;
  	width:100%;
  	height:200px;
  	left:0px;
  	background-color:green;
  	transition: all 0.5s ease;
  	&.expanded{
  		bottom:0px;
  	}
  	&.collapsed{
  		bottom:-200px;
  	}
  }

  #main-footer-open{
  	display:inline-block;
    padding: 0 $button-padding;
  }

  #main-footer-close{
  	position: absolute;
  	right:$default-padding;
  	top:$default-padding;
  }

  #main-footer-tickets{
  	display:inline-block;
    padding: 0 $button-padding;
  }

  #main-footer-audio{
  	display: inline-block;
    padding: 0 $button-padding;
  }

  #main-footer-social{
  	display: inline-block;
  }

  #social-hashtag{
  	display: inline-block;
  }

  #social-buttons{
  	display: inline-block;
  	li{
  		display: inline-block;
      padding: 0 $button-padding;
  	}
  }

  .footer-section-divider{
    display: inline-block;
  }

 /**
  * Section
  **/
.site-section{
	position: absolute;
	left:0px;
	top:0px;
	width:100%;
	height:100%;
	display:none;
}
.site-section-current{
  z-index: 5000;
}
.site-section-prev{
  z-index: 4000;
}

.section-background{
	position: absolute;
  left:0px;
  top:0px;
}

.section-background img{
  width:100%;
}

.section-header{
	position: absolute;
	left:0px;
	top:100px;
}

/** 
 * Gallery
 **/
 #gallery{
  position: absolute;
  left:0px;
  top:0px;
  width:100%;
  height:100%;
 }

 #gallery-images{
  position: relative;
  width:100%;
  height:100%;
 }

 .gallery-image{
  position: absolute;
  left:0px;
  top:0px;
  visibility: hidden;
 }

 .gallery-image-current{
    z-index: 7002;
    visibility: visible;
 }
 .gallery-image-prev{
    z-index: 7001;
    visibility: visible;
 }

 #gallery-prev{
    position: absolute;
    left:0px;
    top:0px;
    bottom:0px;
    margin:auto;
    width:40px;
    height:40px;
    z-index: 7003;
    text-align: center;
    line-height: 46px;
    font-size:32px;
 }

 #gallery-next{
    position: absolute;
    right:0px;
    top:0px;
    bottom:0px;
    margin:auto;
    width:40px;
    height:40px;
    z-index: 7003;
    text-align: center;
    line-height: 46px;
    font-size:32px;
 }

/** 
 * Story
 **/
 #story{
  position: absolute;
  right:50px;
  top:200px;
  bottom:100px;
  width:400px;
  height:300px;
  overflow: hidden;
  margin:auto;
  padding:0 $default-padding;
 }


/**
  * Overlay
  **/
.site-overlay{
  position: absolute;
  left:0px;
  top:0px;
  width:100%;
  height:100%;
  display:none;
  background-color:$overlay-background-color;
  z-index: 10000;
}

#video-container-close{
  position: absolute;
  right:$default-padding;
  top:$default-padding;
  z-index: 11001;
}

#youtube-container{
  position:absolute;
  left:0px;
  top:0px;
  width:100%;
  height:100%;
}

#youtube-container iframe,
#youtube-container object,
#youtube-container embed{
  position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.site-message{
  position: fixed;
  left:0px;
  top:0px;
  width:100%;
  height:100%;
  display:none;
  background-color:$overlay-background-color;
  z-index: 10000;
}

/**
 * animations
 **/
@-webkit-keyframes rotate /* Safari and Chrome */ {
  0%{
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/**
 * Breakpoints
 **/
#breakpoints{display:fixed; left:0; top:0; width:0; height:0;}

@media only screen and (max-width: 319px){
  #maximize-container{
    display:block;
  }
}

@media only screen and (max-width: 500px){
  #header-navigation{
    width:100%;
    height:100%;
    ul{
      li{
        line-height: 80px;
        font-size: 48px;
      }
    }
  }

  #story{
    right:0px;
    width:100%;
  }
}

@media only screen and (max-height: 200px){
  #maximize-container{
    display: block;
  }
}

@media only screen and (min-width: 320px) {
   #breakpoints:after {content: '320';}
}

@media only screen and (min-width: 540px){
    #breakpoints:after {content: '540';}
}

@media only screen and (min-width: 641px) {
    #breakpoints:after {content: '641';}
}

@media only screen and (min-width: 740px){
    #breakpoints:after {content: '740';}
}

@media only screen and (min-width: 769px) {
    #breakpoints:after {content: '769';}
}

@media only screen and (min-width: 900px) {
    #breakpoints:after {content: '900';}
}

@media only screen and (min-width: 1024px) {
    #breakpoints:after {content: '1024';}
}

@media only screen and (min-width: 1224px) {
    #breakpoints:after {content: '1224';}
}

@media only screen and (min-width: 1440px) {
    #breakpoints:after {content: '1440';}
}